---
bundle: kubernetes
name: mimir-bundle
description: >
  Mimir is a sharded, distributed metrics store which is able to store metrics in object storage:
bundle: kubernetes
applications:
  coordinator:
    charm: mimir-coordinator-k8s
    scale: 1
    trust: true
    constraints: arch=amd64
    storage:
      data: kubernetes,1,1024M
    trust: true

  backend:
    charm: mimir-worker-k8s
    channel: {{ channel|default('edge', true) }}
    scale: 1
    options:
      alertmanager: true
      compactor: true
      store-gateway: true
      ruler: true
      query-scheduler: true
      # uncomment once this issue is solved:
      # https://github.com/canonical/mimir-coordinator-k8s-operator/issues/33
      # overrides-exporter: true
    constraints: arch=amd64
    storage:
      data: kubernetes,1,1024M
    trust: true
  reader:
    charm: mimir-worker-k8s
    channel: {{ channel|default('edge', true) }}
    scale: 1
    options:
      querier: true
      query-frontend: true
    constraints: arch=amd64
    storage:
      data: kubernetes,1,1024M
    trust: true
  writer:
    charm: mimir-worker-k8s
    channel: {{ channel|default('edge', true) }}
    scale: 1
    options:
      distributor: true
      ingester: true
    constraints: arch=amd64
    storage:
      data: kubernetes,1,1024M
    trust: true
  s3-integrator:
    charm: s3-integrator
    scale: 1
    channel: {{ channel|default('edge', true) }}

relations:
- - coordinator:mimir-cluster
  - writer:mimir-cluster
- - coordinator:mimir-cluster
  - reader:mimir-cluster
- - coordinator:s3
  - s3-integrator:s3-credentials